@charset "UTF-8";
@import url(reset.css);

div#wrap {
    width: 1220px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px auto;
}

/*****************    헤더 영역     ***************/
#header {
	width: 100%;
	
}

div#topLeft>h1#naver{
	font-weight: bold;
	font-size: 20px;
	transform : translateY(-4px);
}

div#topLeft>h1#naver{
	width: 80px;
	font-size: 22px;
/* 	border: 1px solid #f80; */
}

div#topLeft>h1{
	
	margin-bottom: 10px;
	width: 110px;
	height: 30px;	
/* 	border: 1px solid #08f; */
}

div#topLeft>h1,span{
	
	display: inline-block;
}

div#topLeft>h2{
	font-size: 22px;
	color: #aaa;
}

/* logo End */



/* gnb Strat */



div#gnb{
	border: 1px solid #aaa;
	border-left: none;
	border-right: none;
	margin: 0px;
}

div#gnb>div#gnbWid{
	width: 225px;
	height: 60px;
/* 	border: 1px solid #f80; */
	margin: 0;
}

div#gnbWid>span{
	
	line-height: 60px;
	height: 60px;
	padding: 0 15px;
	font-weight: bold;
	font-size: 15px;
	margin: 0;	
/* 	border: 1px solid #08f; */
}



div#gnbWid>span:hover{
	cursor: pointer;
}



/* gnb End */

/*****************    헤더 영역 끝   *****************/

/*****************    메인 페이지 영역      ****************/

nav.dFlex {
	justify-content: space-between;
}
span.tuesdaywebtoon {
	font-size: 15px;
	margin-top: 5px;
	color: #aaa;
	cursor: pointer;
}
nav>ul>li {
	display: inline-block;
	color: #aaa;
 /* gnb 시작 */	
}
li#인기순 {
	cursor: pointer;
}
li#업데이트순 {
	cursor: pointer;
}
li#업데이트순.clicked {
	color: #00ff00;
}
li#인기순.clicked {
	color: #00ff00;
}
li#조회순 {
	cursor: pointer;
}
li#조회순.clicked {
	color: #00ff00;
}
li#별점순 {
	cursor: pointer;
}
li#별점순.clicked {
	color: #00ff00;
}



li.bold {
	font-size: 18px;
	font-weight: bold;
	color: #000;
	padding-right: 10px;
/* gnb 종료 */

/* 메인 탑 이미지 작업  */
}
img {
	cursor: pointer;
}

main.dFlex>div.MainTop1>h4 {
	padding:  5px;
}
main.dFlex>div.MainTop1>p {
	font-size: 14px;
	padding: 1px;
}

div.MainTop1 {
	margin-left: -8px;
	margin-top: 15px;
	padding: 8px;
	padding-right: 6px;
}


/* 이미지 작업 완료  */
/* 메인 탑 종료 */
/* 이달의 신작 */
div#container {
	display: flex;
}

div.one {
    justify-content: space-between;
   
}
div.one>h2 {
	margin-bottom: 12px;
}

div.one>span {
    color: #747774;
    margin-right: 12px;
}

div#img1 span#one {
    font-size: 18px;
    font-weight: bold;
}

div#img1 span#two {
    color: #747774;
}

div#img1 a {
    background-color: #ddd;
    border-radius: 3px;
}
div.imgArea {
	width: 270px;
	height: 160px;
	border: 1px solid #000;
	margin-right: 10px;

}


/* 이달의 신작 종료 */

/* 따끈따끈 업데이트+ */

div.update1>span {
	margin-right: 12px;
}

div.update1 {
    justify-content: space-between;
}

div.update2 {
    width: 160px;
    border: 1px solid #000;
}

div.imageArea {
    border: 1px solid #000;
    width: 160px;
    height: 200px;
    
}
div.update1 {
	margin-bottom: 15px;
	margin-top: 15px;
}

div.update2 {
	margin-right: 10px;
}
/* 따끈따끈 업데이트+ 종료 */

/* 실시간 인기 웹툰 */



div.first {
    justify-content: space-between;
}

div.first ul {
    width: 100px;
}

div.first ul li {
	padding: 1px;
    color: #aaa;
    font-size: 14px;
    
}

div#livebest hr {
    margin: 10px;
}
div.second {
	margin-bottom: 10px;
}

div.second span {
    width: 50px;
    text-align: center;
}

div.imagArea {
    border: 1px solid #000;
    width: 60px;
    height: 80px;
}
div#livebest {
	width: 330px;
	margin-left: 1px;
}

/* 실시간 인기 웹툰 종료*/
/* 이달의 신작 따끈따끈 업데이트 매일+ 묶음  */
div#container2 {
	padding-right: 30px;
}
/* 이달의 신작 따끈따끈 업데이트 매일+ 묶음 종료  */
/******************    메인 페이지 영역 끝   *****************/

/*******************    푸터 영역      *****************/


#footer {
	
    
margin-top: 20px;
    
}

div#footerwrap h2 {
    margin-bottom: 30px;
}

div#shop {
    margin-bottom: 50px;
}

div#shop span a {
    cursor: pointer;
    background-color: #ddd;
    border-radius: 3px;
    margin-right: 8px;
    padding: 5px;
}

div#shop span {
    font-size: 19px;
    /* border: 1px solid #000; */
}

div#article {
    display: flex;
    justify-content: space-around;
}

div#article img {
    width: 380px;
    height: 130px;
    border: 1px solid #aaa;
    border-radius: 5px;
    cursor: pointer;

}

div#touchp {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

div#touch span a {
    color: #aaa;
    font-size: 17px;
}

div#footerwrap hr {
    margin: 20px 0;
}

div#footp {
    display: flex;
}

div#foot span {
    color: #8b8d8b;
    font-size: 15px;
}

div#foot1 span {
    color: #8b8d8b;
}

div#foot1 {
    margin-left: 50px;
}

div#foots {
    margin-top: 30px;
}

div#foots span {
    color: #8b8d8b;
}

div#footer span {
    color: #8b8d8b;
}

div#footer {
    margin-top: 30px;
}
/*********************    푸터 영역 끝   ****************/


/********************    공지사항 영역    ****************/
div#noticeWrap {
	width: 300px;
	
}
div#noticeWrap>#topArea {
	font-size: 16px;
	justify-content: space-between;
	padding: 10px;
}
div#noticeWrap>#topArea>span:hover {
	cursor: pointer;
	
}

div#noticeWrap>#mainArea {
	padding: 10px;
}

div#noticeWrap>#mainArea>ul>li {
	cursor: pointer;
}
/******************    공지사항 영역 끝   *****************/ 

/****************** 웹툰 메인 페이지 시작 ******************/
div#webtoonWrap {
	width: 1220px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px auto;
}
#webtoonWrap>#gnb {
	
	display: inline-block;
	
}
#gnb>#gnbDay {
	margin: 0 5px;
	height: 60px;
	line-height: 60px;
}
#gnb>#gnbDay>li:hover {
	cursor: pointer;
}
#gnb>#gnbDay>li:not(li:first-child) {
	padding: 0px 10px;
	font-weight: bold;	
}
#gnb>#gnbDay>li:first-child {
	font-weight: bold;
/* 	color: #0d0;
	border-bottom: 3px solid #0d0; */
}
#webtoonMainTop>h2 {
	margin: 20px 0;
}
#webtoonMainTop>section#newWebtoon>article {
	width: 270px;
	height: 240px;
	margin-right: 5px;
}
#webtoonMainTop>section#newWebtoon>article>.imgArea {
	width: 270px;
	height: 160px;
	border: 1px solid #aaa;
	border-radius: 6px;
	
}
#webtoonMainTop>section#newWebtoon>article> * {

	cursor: pointer;
}
/* 웹툰 메인 탑 끝 */
/* 웹툰 요일별 전체 웹툰 시작 */
#dayAllWebtoon {
	margin-top: 50px;
	margin-bottom: 10px;
}
#dayAllWebtoon>#dayAllHeader {
	height: 40px;
	line-height: 40px;
}
#dayAllWebtoon>#dayAllHeader>ul{
	margin: 0 10px;
}
#dayAllWebtoon>#dayAllHeader>ul>li{
	margin: 0 2px;
	
}
#dayAllWebtoon>#dayAllHeader>ul>li:hover{
	cursor: pointer;
}
#dayAllWebtoon>#dayAllHeader>ul>li:first-child {
	color: #0d0;
}
nav#dayWebtoon {
	margin-top: 15px;
}
nav#dayWebtoon>ul>li {
	text-align: center;
	width: 200px;
	padding: 10px;
	border: 1px solid #aaa;
	font-size: 17px;
	font-weight: bold;
}
nav#dayWebtoon>ul>li:first-child {
	background-color: #00dc64;
	color: #fff;
}
nav#dayWebtoon>ul>li:not(li:first-child) {
	border-left: none;
}
div#mainWebtoon>ul>li {
	width: 175px;
	text-align: center;
	
	
}
div#mainWebtoon>ul>li>label {
	width: 160px;
	display: inline-block;
	margin-bottom: 10px;
	cursor: pointer;
}
div#mainWebtoon>ul>li>label>.thumImg {
	width: 160px;
	height: 200px;
	border: 1px solid #aaa;
	border-radius: 6px;
}
div#mainWebtoon>ul>li>label>span {
	margin-top: 3px;
	font-size: 18px;
	font-weight: bold;
	text-align: left;	
	display: inline-block;
	width: 100%;
}
footer#dayWebtoon {
	margin-top: 50px;
	padding-left: 870px;
	margin-bottom: 20px;
}

/************ 웹툰 메인 페이지 끝 ***************/

/************ 요일 별 웹툰페이지 시작 ***************/
#mondayWebtoon>label {
	display: inline-block;
	margin-bottom: 20px;
	cursor: pointer;
}
#mondayWebtoon>label>.thumImg {
	width: 160px;
	height: 200px;
	border: 1px solid #aaa;
	border-radius: 6px;
}
/************ 요일 별 웹툰페이지 끝 ***************/

/********************* 웹툰 뷰 **********************/
div#webViewLeft{
	width: 800px;
/* 	border: 3px solid #08f; */
margin-right: 50px;
	height: 1000px;
}

div#webViewLeft div#imgArea {
	width: 190px;
	height: 250px;
	border: 1px solid #aaa;
	border-radius: 10px;
}
div#webViewLeft div#imgArea>img{
	width: 190px;
	height: 250px;
}

div#rightArea{
	padding: 2px;
/* 	border: 3px solid #08f; */
}

div#textArea{
	margin-left: 10px;
}
div#event{
	border-radius: 6px;
	border: 1px solid #000;
	width: 305px;
	height: 270px;
/* 	margin-left: 600px; */
}

div#btnArea{
/* 	border: 1px solid #000; */
	margin: 10px 0;
	margin-bottom: 30px;
}

div#btnArea>button{
border-radius: 6px;
/* transform : translateY(-40px); */
cursor: pointer;
background-color: #ddd;
border: 1px solid #bbb;
font-weight: bold;
}

div#btnArea>button:nth-child(1){
	width: 40%;
	height: 45px;
	border: 1px solid #00dc64;
	background-color: #00dc64;
	color: #fff;	
}

div#btnArea>button:nth-child(2){
	width: 40%;
	height: 45px;	
}

div#btnArea>button:nth-child(3){
	width: 18%;
	height: 45px;	
}

div.numStory{
	
	cursor: pointer;
	margin: 10px 0;
/* 	border: 1px solid #000; */
}

div.numStory>hr{
	margin: 10px 0;
}

div.numStory>img{
	border: 1px solid #000;
	width: 100px;
	height: 60px;
}

div.numStory>div{
	display: inline-block;
}

/********************* 웹툰 뷰 **********************/

/************ 공지사항 리스트 페이지 시작 ***************/
#noticelistMain {
	padding-top: 20px;
	height: 1000px;
}
#noticelistMain>#noticeArea {
	
	width: 900px;
}
#noticelistMain>#noticeArea>#noticeHeader {
		justify-content: space-between;
}
#noticelistMain>#noticeArea>#noticeHeader>input {
	width: 350px;
	font-size: 18px;
	text-indent: 10px;
}
#noticelistMain>#noticeArea>hr {
	margin-top: 20px;
}
#noticelistMain>#noticeArea>#noticeMain>table {
	width: 100%;
	border-bottom: 1px solid #000;
	border-collapse: collapse;
	font-size: 20px;
	
}
#noticelistMain>#noticeArea>#noticeMain>table td, th{
	border-bottom: 1px solid #000;
}
#noticelistMain>#noticeArea>#noticeMain>table td {
	padding: 10px 0;
}

#noticelistMain>#noticeArea>#noticeMain>table th {
	width: 150px;
}
#noticelistMain>#noticeArea>#noticeMain>table .noticeTitleName {
	flex:1;
}
#noticelistMain>#noticeArea>#noticeMain>table .noticeTitleName:hover {
	cursor: pointer;
	text-decoration: underline;
}
#noticelistMain>#noticeArea>#noticeMain>table .noticeTitleTM {
	width: 150px;
}
#noticelistMain>#noticeArea>#noticeMain>table>tbody>#noticeTitle>td {
	text-align: center;
}
#noticelistMain>#noticeArea>#noticeMain>table>tbody>tr>td:last-child{
	text-align: center;
	
}
#noticelistMain>#noticeArea>#pagenum {
	
	text-align: center;
	justify-content: center;
}
#noticelistMain>#noticeArea>#pagenum>ul {
	margin-top: 20px;
	width: 100%;
	justify-content: center;
}
#noticelistMain>#noticeArea>#pagenum>ul>li {
	margin: 3px 5px;
	font-size: 18px;
}
#noticelistMain>#noticeArea>#pagenum>ul>li:hover {
	cursor: pointer;
}
#noticelistMain>#side {
	border: 1px solid #0f8;
	flex:1;
	
}




/************ 공지사항 리스트 페이지 끝 ***************/

/************ 마이 페이지 ***************/


#mypageHeader>ul#mypageGNBul {
/* 	border: 1px solid #000; */
	width: 225px;
	height: 60px;
	font-weight: bold;
	padding-top: 18px;
	justify-content: center;
}

#mypageHeader>ul#mypageGNBul>li {
/* 	border: 1px solid #000; */
	padding: 0 8px;
}
#mypageHeader>ul#mypageGNBul>li:hover {
	cursor: pointer;
}




/* 관심웹툰 */
div#mypageFBWebtoon h2 {
	padding: 10px;
	padding-top: 20px;
	font-size: 20px;
}

div#mypageTitle>p {
/* 	border: 1px solid #000; */
	padding-top: 25px;
	color: #808080;
	padding-left: 15px;
	font-size: 15px;
}

main#mypageMain {
	width: 1200px;
	margin-top: 10px;
}

div#mypageFBWebtoon {
/* 	border: 1px solid #000; */
	width: 700px;
	margin-right: 300px;
	height: 1000px;
}


/* 이미지, 작품명, 업데이트일 시작*/
ul#mypageMainUl {
/* 	border: 1px solid #000; */
	justify-content: space-between;
	
}

ul#mypageMainUl>li {
/* 	border: 1px solid #000; */
	padding: 15px;
	font-size: 20px;	
}

ul#mypageMainUl>li:nth-child(1) {
	margin-left: 15px;
}

ul#mypageMainUl>li:nth-child(3) {
	margin-right: 15px;
}
/* 이미지, 작품명, 업데이트일 끝 */


/* 웹툰 리스트 시작 */
div.mypageContent {
/* 	border: 1px solid #000; */
	padding: 10px;
	justify-content: space-between;
	border-bottom: 2px solid #aaa;
}

div.mypageContent>img {
	width: 120px;
	height: 100px;
	border-radius: 5px;
}

div.mypageContent>span.mypageTW {
/* 	border: 1px solid #000; */
	margin-right: 190px;
	margin-top: 22px;
}

div.mypageContent>span.mypageTW>span.mypageTitle {
	font-weight: bold;
	font-size: 20px;
	
}

div.mypageContent>span.mypageTW>span.mypageWriter {
	font-size: 17px;
}

div.mypageContent>span.mypageDate {
/* 	border: 1px solid #000; */
	margin-right: 30px;
	margin-top: 33px;
}

/* 웹툰 리스트 끝 */

/******************** 마이 페이지 끝  *********************/

/************************ 로그인 시작 ********************/
div#wrap.login {
    width: 520px;
    padding: 20px;
/*     border: 4px solid #aaa; */
    border-radius: 4px;
    margin: 20px auto;
}

div#wrap.login header#header {
	text-align: center;
	margin: 50px 0;
}


/* nav#loginGnb 시작 */
div#wrap.login main#loginMain nav#loginGnb ul#loginMainMenu li.mainLi {
	width: 162px;
	font-size: 17px;
	text-align: center;
	padding: 10px 20px 12px;
	display: inline-block;
	position: relative;
}

div#wrap.login li.mainLi:nth-child(1) {
	border: 1px solid #ddd;
	background-color: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom: none;
	z-index: 1;
}

div#wrap.login li.mainLi:nth-child(2) {
	background-color: #eee;
	margin-left: -5px;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom-left-radius: 10px;
}

div#wrap.login li.mainLi:nth-child(2)>a {
	color: #888;
}

div#wrap.login li.mainLi:nth-child(3) {
	background-color: #eee;
	border-bottom: 1px solid #ddd;
	border-top-right-radius: 10px;
}

div#wrap.login li.mainLi:nth-child(3)>a {
	color: #888;
}
/* nav#loginGnb 끝 */

/* 로그인 form 시작 */
div#wrap.login main#loginMain form {
	padding: 10px;
	border: 1px solid #ddd;
	border-top: none;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

div#wrap.login div#loginForm {
	margin: 15px auto;
}

div#wrap.login div#loginForm input {
	font-size: 17px;
	padding: 15px 20px;
	border: 1px solid #ccc;
	width: 100%;
}

/* 아이디, 비밀번호 내용 삭제 아이콘 시작 */
div#uidInsArea, div#upwInsArea {
	width: 94%;
	position: relative;
	margin: 0 auto;
}

span#uidCloseIcon, span#upwCloseIcon {
	width: 18px;
	height: 18px;
	line-height: 13px;
	color: #fff;
	font-size: 24px;
	text-align: center;
	background-color: #999;
	border-radius: 50%;
	display: inline-block;
	display: none;
	position: absolute;
	right: 20px;
	top: 18px;
	cursor: pointer;
}
/* 아이디, 비밀번호 내용 삭제 아이콘 끝 */


div#wrap.login div#loginForm input[type=text] {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: none;
}

div#wrap.login div#loginForm input[type=password] {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

div#wrap.login div#loginMgrArea {
	margin: 10px;
	justify-content: space-between;
}

div#wrap.login div#loginMgrArea label:hover {
	cursor: pointer;
}

div#wrap.login div#loginMgrArea label img {
	vertical-align: middle;
}

div#wrap.login div#loginMgrArea label span {
	font-size: 14px;
	margin-top: 4px;
	display: inline-block;
}

div#ipSecurity img {
	margin-top: 5px;
	cursor: pointer;
}

div.alertMsg {
	font-size: 13px;
	color: #f00;
	margin: 15px 15px 25px;
	display: none;
}

div.alertMsg span {
	font-size: 13px;
	color: #f00;
	font-weight: bold;
}

div#wrap.login div#btnArea {
	margin: 18px auto 10px;
}

div#wrap.login div#btnArea button {
	font-size: 17px;
	padding: 14px;
	display: block;
	width: 94%;
	margin: 0 auto;
	background-color: #09aa5c;
	border-radius: 10px;
	color: #fff;
	font-weight: bold;
	border: none;
	cursor: pointer;
}
/* 로그인 form 끝 */

/* nav#loginLnb 시작 */
div#wrap.login nav#loginLnb {
	margin: 20px auto 50px;
}

div#wrap.login nav#loginLnb ul#loginLnbMenu {
	justify-content: center;
}

div#wrap.login nav#loginLnb ul#loginLnbMenu li.loginLnbLi {
	color: #ccc;
	margin: 0 10px;
}

div#wrap.login li.loginLnbLi>a {
	color: #777;
	font-size: 14px;
	width: 90px;
}
/* nav#loginLnb 끝 */

/* div#loginAddArea 시작 */
div#wrap.login div#loginAddArea img {
	margin: 10px auto;
	width: 100%;
}
/* div#loginAddArea 끝 */

/* footer#footer 시작 */
div#wrap.login footer#footer {
	width: 100%;
	margin-top: 30px;
}

div#wrap.login nav#footerLnb {
	margin: 10px auto;
}

div#wrap.login nav#footerLnb  ul#footerLnbMenu {
	justify-content: center;
}

div#wrap.login nav#footerLnb  ul#footerLnbMenu li.footerLnbLi {
	color: #ccc;
	margin: 0 3px;
}

div#wrap.login li.footerLnbLi>a {
	color: #777;
	font-size: 12px;
	width: 90px;
}

div#wrap.login li.footerLnbLi:nth-child(3)>a {
	font-weight: bold;
}

div#wrap.login div#footerCopy {
	justify-content: center;
}

div#wrap.login div#footerCopy img {
	transform: translateY(-2px);
}

div#wrap.login div#footerCopy span:nth-child(2) {
	color: #888;
	font-size: 12px;
	margin-left: 3px;
}

div#wrap.login div#footerCopy span:nth-child(3) {
	font-size: 12px;
	margin-left: 5px;
}

div#wrap.login div#footerCopy span:nth-child(4) {
	color: #888;
	font-size: 12px;
	margin-left: 3px;
}

/******************* 로그인 끝 *****************/

/******************* 검색 페이지 시작 *****************/

div#wrapsearch {
    width: 820px;
    padding: 10px; 
}

div#wrapsearch h2 {
    margin-bottom: 20px;
    margin-top: 20px;
}

div#wrapsearch ul {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

div#wrapsearch ul>li>a {
    width: 110px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
}

div#wrapsearch hr {
    margin: 14px 0;
}

div.title {
    display: flex;

}

div.title p {
    font-size: 24px;
}

div.title span {
    color: #aaa;
    font-size: 17px;
}

div.imArea {
    display: flex;
    margin-top: 20px;
}

div.imArea div#impArea {
    margin-left: 20px;
}

div.imArea img {
    width: 120px;
    border: 1px solid #000;
    height: 150px;
}

div.imArea div#impArea a {
    background-color: #ddd;
    border-radius: 3px;
    margin-right: 5px;
}

div.imArea div#impArea span {
    font-size: 20px;
}

div.imArea div#impArea p {
    font-size: 17px;
}
/******************* 검색 페이지 끝 *****************/

/******************* 업로드 페이지 시작 *****************/
div#uploadWrap {
	width: 1200px;
}
div#uploadWrap>h1 {
	margin: 20px;
}
div#uploadWrap>label {
	display: block;
	
	border-bottom: 1px solid #aaa;
	padding: 20px 0;
}
div#uploadWrap>label> * {
	font-size: 20px;
}
div#uploadWrap>label>input {
	padding: 5px;
}
div#uploadWrap>label>select {
	padding: 5px;
}
div#uploadWrap>label>span {
	width: 150px;
	font-weight: bold;
}
div#uploadWrap>#uploadTag {
	padding: 20px 0;
}

div#uploadWrap>#uploadTag> * {
	font-size: 20px;
}
div#uploadWrap>#uploadTag>h4 {
	width: 150px;
	display:inline-block;
	
}

div#uploadWrap>#uploadTag>span {
	border-radius: 10px;
	background-color: #ddd;
	padding: 3px;
	cursor: pointer;
	margin: 0 5px;
}
div#uploadWrap>#uploadTag>span.selTag {
	background-color: #0f0;
	color: #aaa;
}

div#uploadWrap>#btnArea {
	margin-top: 20px;
	text-align: center;
}

div#resultWrap p {
	margin: 20px 0;	
}
div#resultWrap p>span {
	width: 200px;
	font-size: 20px;
}
div#resultWrap p>input {
	font-size: 20px;
	padding: 3px 10px;
	width: 300px;
}
div#resultWrap button {
	padding: 5px 20px;
	font-size: 30px;
}


/******************* 업로드 페이지 끝 *****************/

